@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&family=Roboto&family=Sansita+Swashed:wght@300;500&display=swap");

#top {
  padding-top: 10px;
}

body {
  font-family: "Raleway", sans-serif;

  margin: 0;
  padding: 0;
  margin-top: -22px;
  background: #ece68a;
  overflow-x: hidden;
}

#game {
  margin-top: 40px;
  text-align: center;
}

input {
  padding: 5px;
  font-size: large;
}

label {
  font-size: x-large;
  margin-right: 15px;
}

.tableWrapper {
  width: 100%;
}

table {
  margin: 0 auto;
  justify-content: center;
  /* width: 100%; */
  /* margin-left: calc(50vw); */
  white-space: nowrap;
}

td, th {
  padding: 0 0 0 30px;
}

td:first-child, th:first-child {
  padding: 0 0 0 0;
}

header {
  background: #010c13;
  color: white;
  padding: 20px;
  text-align: center;
  transform: rotate(-10deg);
  width: 200%;
  padding-top: 447px;
  margin-top: -412px;
  margin-left: -62%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.centergroup {
  padding: 10px;
  margin: auto;
}

#time {
  visibility: hidden;
  display: inline-flex;
  width: 100px;
  font-size: 40px;
  vertical-align: middle;
  font-family: "Sansita Swashed", cursive;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  font-size: large;
  color: white;
  background-color: #010c13;
  border: none;
  margin-right: 50px;
  margin-left: -90px;
  font-family: "Raleway", cursive;
  transition: ease-in-out 0.5s;
}
button:focus {
  outline: none;
}

button:hover {
  transition: ease-in-out 0.5s;
  border: 4px solid rgb(105, 253, 79);
}

h5 {
  font-family: "Raleway", sans-serif;
  margin-top: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: -200px;
}

h1 {
  font-family: "Sansita Swashed", cursive;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
